@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sidebar {
  font-family: "Roboto", sans-serif;
  flex: 1;
  border-right: 1px solid #3e3c61;
  background-color: #3e3c61;
}
